* {
  font-family: monospace;
  color: #3d3d3d;
  font-weight: 500;
}

.container {
  width: 87.5%;
  margin: auto;
}

.title {
  margin: 4% 0 2.5% 0;
}

h1 {
  line-height: 0.25;
  margin-bottom: 0px;
}

.label {
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: 700;
}

select, button {
  font-size: 15px;
  font-weight: 300;
  font-family: monospace;
  text-transform: uppercase;
  background: #fff;
  border-radius: 2px;
  width: 170px;
  margin-bottom: 3%;
}

select:hover, button:hover {
  background-color: #3d3d3d;
  color: #fff;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}